.advert {
    max-width: var(--site-width-max);
}

.advert__wrapper {
    margin:0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.advert__box {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 7px;
}

.advert__left {
    background-image: url(../../assets/dana-devolk.png);
}

.advert__right {
    background-image: url(../../assets/aplikacja.png);
}

.advert__title,.advert__text {
    color:var(--clr-light);
}

.social {
    display: flex;
}


@media screen and (max-width: 900px) {
    .advert__wrapper {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }
}